allow shell media_rw_data_file:dir create_dir_perms;
allow shell media_rw_data_file:file create_file_perms;
allow shell block_device:blk_file getattr;
allow shell block_device:dir { read getattr open };
allow shell boot_block_device:blk_file getattr;
allow shell cache_block_device:blk_file getattr;
allow shell device:dir { read open };
allow shell loop_device:blk_file getattr;
allow shell metadata_block_device:blk_file getattr;
allow shell misc_block_device:blk_file getattr;
allow shell private_block_device:blk_file getattr;
allow shell recovery_block_device:blk_file getattr;
allow shell root_block_device:blk_file getattr;
allow shell swap_block_device:blk_file getattr;
allow shell system_block_device:blk_file getattr;
allow shell userdata_block_device:blk_file getattr;
allow shell audioserver_exec:file getattr;
allow shell blkid_exec:file getattr;
allow shell bootanim_exec:file getattr;
allow shell bootstat_exec:file getattr;
allow shell cameraserver_exec:file getattr;
allow shell clatd_exec:file getattr;
allow shell debuggerd_exec:file getattr;
allow shell dnsmasq_exec:file getattr;
allow shell drmserver_exec:file getattr;
allow shell dumpstate_exec:file getattr;
allow shell fsck_exec:file getattr;
allow shell gatekeeperd_exec:file getattr;
allow shell hostapd_exec:file getattr;
allow shell idmap_exec:file getattr;
allow shell installd_exec:file getattr;
allow shell keystore_exec:file getattr;
allow shell lmkd_exec:file getattr;
allow shell logd_exec:file getattr;
allow shell logger_exec:file getattr;
allow shell preinstall_exec:file getattr;
allow shell sysfs:file { getattr read open };
allow shell gatekeeper_service:service_manager find;
